# Download de dados de voos anac

In [37]:
import pandas as pd

In [38]:
ano = 2000
mes = '01%20-%20Janeiro'
arquivo = f'VRA_{ano}1.csv'
url = f'https://sistemas.anac.gov.br/dadosabertos/Voos%20e%20opera%C3%A7%C3%B5es%20a%C3%A9reas/Voo%20Regular%20Ativo%20%28VRA%29/{ano}/{mes}/{arquivo}'
url

'https://sistemas.anac.gov.br/dadosabertos/Voos%20e%20opera%C3%A7%C3%B5es%20a%C3%A9reas/Voo%20Regular%20Ativo%20%28VRA%29/2000/01%20-%20Janeiro/VRA_20001.csv'

In [42]:
df = pd.read_csv(url, sep=';', header=1)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79792 entries, 0 to 79791
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ICAO Empresa Aérea       79792 non-null  object
 1   Número Voo               79792 non-null  int64
 2   Código Autorização (DI)  79792 non-null  int64
 3   Código Tipo Linha        79792 non-null  object
 4   ICAO Aeródromo Origem    79792 non-null  object
 5   ICAO Aeródromo Destino   79792 non-null  object
 6   Partida Prevista         70879 non-null  object
 7   Partida Real             20656 non-null  object
 8   Chegada Prevista         70878 non-null  object
 9   Chegada Real             20656 non-null  object
 10  Situação Voo             79792 non-null  object
 11  Código Justificativa     19680 non-null  object
dtypes: int64(2), object(10)
memory usage: 7.3+ MB

In [47]:
df.head()

,ICAO Empresa Aérea,Número Voo,Código Autorização (DI),Código Tipo Linha,ICAO Aeródromo Origem,ICAO Aeródromo Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo,Código Justificativa
0,TAM,4660,0,R,SBCX,SBCT,01/01/2000 05:45,NaN,01/01/2000 06:37,NaN,CANCELADO,XS
1,VRG,8710,0,I,MMMX,SBEG,01/01/2000 19:00,NaN,02/01/2000 01:25,NaN,REALIZADO,NaN
2,BLC,8250,0,N,SBBR,SBGO,01/01/2000 20:04,NaN,01/01/2000 20:30,NaN,REALIZADO,NaN
3,BLC,241,9,R,SBSP,SBKP,NaN,01/01/2000 22:06,NaN,01/01/2000 22:45,REALIZADO,NaN
4,RSL,7161,9,R,SBRJ,SBCF,NaN,01/01/2000 10:46,NaN,01/01/2000 11:35,REALIZADO,NaN

In [48]:
df.to_csv(f'../data/raw/{arquivo}', sep=';')